{% extends "layout.html" %}
{% block content %}
  
  <section class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Cash-Based Intervention
        </h1>
        <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quibusdam neque labore eum error ab maiores, repellendus consequatur doloremque aliquam modi praesentium nisi adipisci laboriosam unde quia iste voluptatibus sed.
        </h2>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        The button will route to <b> /status </b> and populate available caseno
        <br>
        <a href="/status" class="button is-large is-link">Check Status</a>
      </div>
      <div class="column is-two-third">
        The form
        <form>
          <div class="field">
            <label class="label">Case </label>
            <div class="control">
              <input class="input" type="text" placeholder="Case Number">
            </div>
          </div>
          <div class="field">
            <label class="label">DOB</label>
            <div class="control">
              <input class="date" type="email" placeholder="Date of Birth">
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
{% endblock  %}