{% extends "layout.html" %}
{% block content %}
  
  <section class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Cash-Based Intervention
        </h1>
        <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quibusdam neque labore eum error ab maiores, repellendus consequatur doloremque aliquam modi praesentium nisi adipisci laboriosam unde quia iste voluptatibus sed.
        </h2>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="subtitle">The button</h2>

        The button will route to <b> /status </b> and populate available caseno that are encrypted <b>crypt_caseno</b>
        <br>
        <a href="/status" class="button is-large is-link">Check Status</a>
      </div>
      <div class="column is-two-third">
        <h2 class="subtitle">The form</h2>
        
        <div>Returns result for the cases 001-01C0001, 001-01C0002, 001-01C0003, 001-01C0004
          <br>
          The input value is checked using bcrypt.check_password_hash and the true value is return in the next page.

        </div>

        <form action="status_check" method="post">
          <div class="field">
            <label class="label">Case No</label>
            <div class="control">
              <input class="input" type="text" value="001-01C0001" placeholder="001-01C0001" name="caseno">
            </div>
          </div>
<!--           <div class="field">
            <label class="label">DOB</label>
            <div class="control">
              <input class="date" type="dob" placeholder="Date of Birth">
            </div>
          </div> -->
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-danger">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
{% endblock  %}